<!DOCTYPE HTML>
<html>
  <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script type="text/javascript">
      function getNextGeneration() {
        var M = JSON.parse(document.getElementById('width').value);
        var N = JSON.parse(document.getElementById('height').value);
        var liveCells = JSON.parse(document.getElementById('liveCells').value);
        var data = {
          'M': M,
          'N': N, 
          'liveCells' : liveCells
        };
        $.ajax({
          url: 'nextgen',
          jsonp: 'callback',
          dataType: 'jsonp',
          data: data,
          success: function(response) {
            console.log(JSON.stringify(response));
            alert(JSON.stringify(response));
          }
        });
      }
    </script>
  </head>
  <body>
    Width: <input type="text" name="width" id="width" value="5" size="4"></input>
    <br />
    Height: <input type="text" name="height" id="height" value="5" size="4"></input>
    <br />
    LiveCells: <input type="text" name="liveCells" id="liveCells" value="[[2,1],[2,2],[2,3]]"></input>
    <br />
    <button onclick="getNextGeneration()">Get Next Generation!</button>
  </body>
</html> 