<!DOCTYPE HTML>
<html>
  <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script type="text/javascript">
      function getNextGeneration() {
        //var liveCells = [[0,0],[2,0],[4,0],[1,1],[3,1],[0,2],[2,2],[4,2],[1,3],[3,3],[0,4],[2,4],[4,4]]
        var liveCells = [[2,1],[2,2],[2,3]];
        //var liveCells = [[0,0],[0,1],[0,2]];
        var data = {
          'M': 5,
          'N': 5, 
          'liveCells' : liveCells
        };
        $.ajax({
          url: 'nextgen',
          jsonp: 'callback',
          dataType: 'jsonp',
          data: data,
          success: function(response) {
            console.log(JSON.stringify(response));
            alert(JSON.stringify(response));
          }
        });
      }
    </script>
  </head>
  <body>
    <button onclick="getNextGeneration()">Get Next Generation!</button>
  </body>
</html> 