<!DOCTYPE HTML>
<html>
  <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <!--<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>-->    
      <script type="text/javascript">
      function getNextGeneration() {
        var liveCells = [[2,1],[2,2],[2,3]];
        var data = {
          'M': 3,
          'N': 3, 
          'liveCells' : liveCells
        };
        $.ajax({
          url: 'nextgen',
          jsonp: 'callback',
          dataType: 'jsonp',
          data: data,
          success: function(response) {
            console.log(JSON.stringify(response));
            alert(JSON.stringify(response));
          }
        });
      }
    </script>
  </head>
  <body>
    <button onclick="getNextGeneration()">Get Next Generation!</button>
  </body>
</html> 